header{
    width: 90%;
    height: 15%;
    margin: 0 5% 0 5%;
    border-radius: 0 0 20px 20px;
    background-color:rgba(195, 179, 9, 1);
    text-align: center;
}

.sidebar{
    position: fixed;
    width: 10%;
    height: 600px;
    background-color: rgba(9, 12, 195, 0.5);
    margin-top: 5px;
}    

.content-site{
    

}