.block1,.block2{
    margin: 0 auto;
    border: 1px solid black;
    display: inline-block;
    width: 49%;
    height: 3em;
    background-color: rgba(195, 34, 9, 1)
}

.block2{
   
}
    
.block3{
    margin:20px 0 0 0;
    border: 1px solid red;
    background-color: rgba(156, 42, 7, 0.47);
    width: 98.5%;
    height: 10em;
    vertical-align: super;  
}
.block4,.block5,.block6{
    display: inline-block;
    border: 1px solid green;
    background-color: rgba(49, 8, 2, 1);
    margin: 20px 0 0 0;
    width: 32.5%;
    height: 150px;
}
.block7,.block8,.block9,.block10{
    width: 24.5%;
    height: 180px;
    border: 1px solid bisque;
    background-color:rgba(209, 196, 10, 1);
    display: inline-block;
}
.block10{
    max-width: 23.5%;
}